.content__cover {
  margin: 92px 48px 0;
}

@media screen and (max-width: 1024px) {
  
  .content__cover {
    margin: 92px 0 0;
  }

}

@media screen and (max-width: 900px) {

  .content__cover {
    margin: 90px 0 0;
  }

}

@media screen and (max-width: 550px) {

  .content__cover {
    margin: 66px 0 0;
  }

}