.content__photo-grid {
  padding: 92px 48px 0;
}

@media screen and (max-width: 900px) {

  .content__photo-grid {
    padding: 88px 24px 0;
  }

}

@media screen and (max-width: 550px) {

  .content__photo-grid {
    padding: 64px 16px 0;
    gap: 12px;
  }

}