.content__intro {
  margin: 0 auto;
  padding: 92px 48px 0;
}

@media screen and (max-width: 900px) {

  .content__intro {
    padding: 88px 24px 0;
  }

}

@media screen and (max-width: 550px) {

  .content__intro {
    padding: 64px 16px 0;
  }

}