.cover__background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 740px;
  gap: 32px;
  width: 100%;
  text-decoration: none;
  background-image: url('../../../images/cover-trains.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  
  .cover__background {
    min-height: 640px;
  }

}

@media screen and (max-width: 900px) {

  .cover__background {
    min-height: 480px;
  }

}

@media screen and (max-width: 730px) {

  .cover__background {
    min-height: 380px;
  }

}

@media screen and (max-width: 550px) {

  .cover__background {
    min-height: 200px;
    gap: 16px;
  }
  
}